.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url('./assets/register/background.png');
  background-size: cover;
}

.grid {
  height: 100%;
}

.logo{
  font-size: 36pt !important;
  color: white !important;
}

.logoSubheader{
  font-size: 10pt !important;
  color: white !important;
}